VITE_POLLING_SHEET_URL="https://docs.google.com/spreadsheets/d/1n7vfhCZ1P3iwnNVgroe7uAhvMDWeyhroSAJm8yvsiEw/edit?gid=1991549020"
VITE_FAMILY_SHEET_URL="https://docs.google.com/spreadsheets/d/1xBtaKtNwgmMRVc-jYifmHz9NcR1NUG3bqOmX-wvmN-E/edit?gid=1472803024"
VITE_ONDRIYUM_SHEET_URL="https://docs.google.com/spreadsheets/d/1DGVV21cn3P3i22t_nqd-jxAFalO5wGa69hBLPDyHWHE/edit?usp=sharing"
